
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.background{
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right, blue, rgb(90, 192, 255));
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  padding-top: 40px;
}

.card{
  height: 330px;
  width: 180px;
  background-color: white;
  border-radius: 15px;
  margin: 90px 30px;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer{
  display: flex;
  justify-content: center;
}
.button{
  background-color: rgb(0, 132, 255);
  height: 30px;
  width: 150px;
  border-radius: 20px;
  color: white;
  font-size: xx-small;
  font-weight: 900;
  margin-top: 30px;
}
.button:active{
  background-color: rgb(0, 156, 253);
}
.cardTitle{
  font-size: xx-small;
  display: block;
  color: gray;
}
.cardPrice{
  display: block;
  font-size: x-large;
  font-weight: 600;
  padding-bottom: 10px;
  color: black;
}
.borderLine{
  border-top: 1px solid rgb(225, 225, 225);
}
.cardFeatures{
  margin-top: 10px;
  font-size: x-small;
  text-align: left;
  line-height: 25px;
}
li{
  list-style: none;
}
ul{
  padding-left: 0;
}
.present{
  font-weight: 500;
  color: black;
}
.disabled{
  color: gray;
}

@media (max-width: 768px) {
  .background{
    flex-direction: column;
    margin: 0 ;
    overflow-y: scroll;
    padding-top: 60px;
    align-items: center;
  }
  .card{
    margin-top: 10px;
    width: 60%;
  }
}